.slideshow,
.slideshow__display {
  width: 600px;
  height: 338px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.slideshow__controls {
  position: absolute;
  bottom: 10px;
  height: 2rem;
  width: 64%;
  left: 18.5%;
  background-color: #00000077;
  border-radius: 1rem;
  transition: opacity 0.4s;
}
.slideshow__controls--hidden {
  opacity: 0;
}
.slideshow__nav-left,
.slideshow__nav-right {
  border: none;
  font-size: 2rem;
  line-height: 100%;
  font-weight: bold;
  box-sizing: border-box;
  height: 100%;
  background: none;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 3px #000;
  position: absolute;
  bottom: 0.3rem;
}
.slideshow__nav-left {
  left: 0.4rem;
}
.slideshow__nav-right {
  right: 0.4rem;
}
.slideshow__nav-list {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
.slideshow__nav-list li {
  margin: 0 4px;
  padding: 0;
  height: 100%;
  width: 18px;
  display: inline-block;
  vertical-align: middle;
}
.slideshow__nav-list button {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 12px;
  width: 18px;
  border-radius: 6px;
  border: 1px #fff solid;
  position: absolute;
  top: calc(50% - 6px);
}
.slideshow__nav-list button.slideshow__nav-list--current {
  background-color: #fff;
}

.slideshow-entry-left-pre,
.slideshow-exit-right {
  transform: translateX(-100%);
  opacity: 0;
}
.slideshow-entry-right-pre,
.slideshow-exit-left {
  transform: translateX(100%);
  opacity: 0;
}
.slideshow-entry-right,
.slideshow-entry-left,
.slideshow-exit-left,
.slideshow-exit-right {
  transition: 0.5s ease-in-out;
}
